:root {
  --box-shadow: 5px 5px 10px 5px rgba(101, 175, 10, 0.5);
  --bg-color: rgb(40, 47, 97);
}

body {
  background-color: rgb(11, 26, 51);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* Navbar-section */


.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: red; */
}

.nav-bar .nav-items {
  padding: 16px;
  font-size: 1.2rem;
  font-weight: bold;
  /* width: 100%; */
}

.nav-bar .nav-items:hover {
  border-bottom: 3px solid yellow;
}

/* Home-section */
.home {
  height: 80vh;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .left {
  width: 620px;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid yellow;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.home .right .img {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}

.home .right .img img {
  height: 270px;
  width: 270px;
  border-radius: 100%;
  animation-name: superhero;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes superhero {
  0% {
    border-color: blue;
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 50px blue;
  }

  25% {
    border-color: rgb(239, 244, 11);
    box-shadow: 10px 10px 100px 50px rgb(239, 244, 11);
  }

  50% {
    border-color: rgb(12, 12, 199);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 50px rgb(12, 12, 199);
  }

  75% {
    border-color: rgb(130, 217, 160);
    box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
  }

  100% {
    border-color: rgb(50, 55, 205);
    transform: translate(0, -0px);
    box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);
  }
}

/* Experience-section */
.container.ex {
  margin-top: 50px;
  text-align: center;
}
.ex h1{
  padding-bottom: 2rem;
}

.experience-row {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
}

.ex-item {
  flex: 1 1 calc(50% - 20px); 
  display: flex;
  gap: 10px;
  background: #000a13;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);

}

.left img {
  width: 100%;
  max-width: 100px; 
  border-radius: 10px;
}

/* .right {
  flex: 1;
} */

.right h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.right h4 {
  margin-bottom: 10px;
}

.right h5 {
  margin-bottom: 5px;
}




/* Skills-section */
.skills {
  text-align: center;
  margin-top: 100px;
}
.skills h1{
  padding-bottom: 2rem;
}
.skills .items {
  display: flex;
  justify-content: flex-start; 
  gap: 20px;
  overflow-x: auto; 
  padding: 10px;
}
.skills .items .item {
  min-width: 150px; 
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  flex-shrink: 0; 
}
.skills .items .item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-bottom: 10px;
}




/* Project-section */
.projects{
  margin-top: 100px;
  text-align: center;
}

/* Contact-section */
.contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon .items {
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid yellow;
}

.contact-icon .items:hover {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.contact-icon .items .icons {
  font-size: 2rem;
}

/* contact section */
.contact{
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact h1 {
text-align: center;
padding-bottom: 2rem;
}

/* Footer section */
footer {
  background-color: var(--bg-color);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}



html {
  scroll-behavior: smooth;
}








